<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>JACK'S FISH MARKETS</title>
</head>
<body>
<div class="topnav">

    <a href="#shop different varieties of Fish">shop different varieties of Fish</a>
       <div class="dropdown">
           <button class="dropbtn">About us
               <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
              <a href="#">Our History</a>
              <a href="#">Shipping</a>
              <a href="#">FAQS</a>
          </div>
       </div>
    <a href="#Resources">Resources</a>
    <a href="#Offers">Offers</a>
        <div class="search-container">
    <form>
        <label>
            <input type="text" placeholder="Search.." >
        </label>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
        </div>
</div>
<div class="tophead">
    <h3>JACK'S FISH MARKET</h3>
    <P>Quality fish in the market</P>
    <p>We bring fresh fish to your doorstep!</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut debitis error fuga maxime odit placeat quis, quisquam rerum tempora vel vero vitae voluptatem. Delectus eligendi esse molestias nobis soluta.</span><span>Ducimus eius expedita facilis laudantium maxime molestiae nostrum odit officiis possimus quis, reprehenderit, sapiente totam unde. Aliquid dolorem illo incidunt labore necessitatibus nostrum odio qui. Fugiat neque nisi possimus sapiente?</span><span>Autem culpa numquam officiis provident vel. Animi architecto, cupiditate dolor ea ex illo ipsam provident, quasi qui repellendus sequi, similique suscipit! Asperiores incidunt numquam porro qui quidem repudiandae velit voluptatem?</span><span>A ad aliquam amet blanditiis commodi delectus deserunt eum facere fugiat incidunt ipsam iste labore laboriosam laudantium nemo, numquam odio perspiciatis porro quaerat quibusdam reiciendis repellat similique totam vel voluptatum?</span></p>
    <img src="assets/viewfi.jpg" alt="" style="float: right;width:170px;height:170px;margin-left:15px;">
</div>
<div>

</div>
</body>
</html>