<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}
</head>
<body>
<a href="{% url 'home' %}">Homepage</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'contactus' %}">Contact-us</a>
<h2>About us</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet assumenda cum cupiditate earum, error, ex facere fugit harum hic in iusto minus molestias perspiciatis porro suscipit voluptatum. Esse, iste!</span><span>Distinctio dolor exercitationem expedita magni placeat repudiandae saepe sunt tenetur. Accusamus aliquid, architecto autem commodi natus nisi officia perferendis quae quidem repellat? Ad assumenda beatae consequuntur et expedita iste velit.</span><span>Ad assumenda autem, delectus dignissimos ducimus laudantium pariatur quo tenetur ullam voluptatibus? Culpa cupiditate dolores ducimus, ea eligendi eos incidunt mollitia qui reiciendis sapiente. Blanditiis cumque eius est ipsam nemo!</span><span>Adipisci blanditiis enim fuga illum ipsam quisquam repellat sed! Ab consequuntur culpa dicta dolor earum, exercitationem facilis fuga modi, quasi tenetur, ut voluptatibus. Consequuntur corporis magni necessitatibus, nihil quae velit!</span></p>
<h3>Patientplus</h3>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa eaque explicabo fuga incidunt ipsam laboriosam magnam modi molestiae nam nulla omnis reiciendis rem rerum unde veniam, voluptates! Dolore, dolorem.</span><span>Aspernatur beatae commodi deserunt dolor eaque error esse est ex exercitationem fugiat harum hic ipsum labore laboriosam nisi nobis numquam, pariatur perferendis, placeat possimus provident quaerat saepe sunt veniam vitae?</span><span>Aliquam aliquid asperiores atque commodi consectetur debitis dolores dolorum ea esse excepturi fugit inventore iure libero nemo placeat recusandae, rem saepe similique sit tempora tenetur totam unde vero voluptate voluptatibus.</span></p>
<img src="{% static 'assets/natalia.jpg' %}" alt="">
</body>
</html>